

<div class="wrapper">
    <div class="sidebar">
      
        
    </div>
    <div class="main-content">
        <img src="../../assets/pic.png" alt="" class="pic">
        <p class="type" *ngFor="let i of items | async">Hello, my name is {{i.title}}.</p>
        <br>
        
        <div class="laman">
            <div style="opacity: 80%;">
            <span>A 4th year BSIT student of City College of Calamba and a front-end developer.</span><br>
            <span>I strive to build an immersive and beutiful web applications and system</span><br>
            <span>through carefully crafted codes and user-centric design.</span>
        
            <br><br>
            
                <p>Even though I'm still student, I'm still enhancing and practing my skills
                not just in <br> programming but also in any aspect that is related on my course.
                I attended Hardware Servicing Seminar, Computer Networking Essential Webinar,
                Introduction to Artificial Inteligence, and Web Development 101 Webinar.  
                <br><br>
                In additional to my development work, I am a member of Information Technology Society.
                Finished my On-the-Job Training as a Computer Mainternance at City College of Calamba,
                also Worked at a fastfood industry for 2 years from 2015-2017.
                <br><br>
                When offline, I could be found on my present resident address at Calamba City, Laguna
                <br>
                together with my family. Playing computer games, playing drums.
                <br>
                I love to travel to places and in touch with nature.</p>
            </div>
        </div>

        <div class="link">
            <a href="https://www.facebook.com/cdpagtalunan" target="_blank" ><img src="../../assets/icons8-facebook-circled-64.png" alt="" class="lnk-fb"></a>
            <a href="https://www.instagram.com/christiandpagtalunan/" target="_blank" ><img src="../../assets/icons8-instagram-52.png" alt="" class="lnk-ig" style="opacity: 70%;"></a>
            <a href="https://github.com/cdpagtalunan" target="_blank" ><img src="../../assets/icons8-github-48.png" alt="" class="lnk-git" style="opacity: 70%;"></a>

        </div>

        <br><br><br>

    </div>

</div>